<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carsale.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.carsale.pojo.Product">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="model" column="model" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DOUBLE"/>
            <result property="introduce" column="introduce" jdbcType="VARCHAR"/>
            <result property="poster" column="poster" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,model,
        price,introduce,poster
    </sql>


    <select id="saleOfCarById" resultType="java.lang.Integer">
        select count(*)
        from `order`
        where productId = #{id}
    </select>

    <select id="selectProductById" resultType="com.carsale.pojo.Product">
        select *
        from product
        where product.id = #{productId}
    </select>

    <select id="getAllProduct" resultType="com.carsale.pojo.Product">
        select * from product
    </select>

    <select id="selectProductBrandById" resultType="java.lang.String">
        SELECT product.`name`
        FROM product
        WHERE id = #{productId}
    </select>

    <select id="selectProductModelById" resultType="java.lang.String">
        SELECT product.`model`
        FROM product
        WHERE id = #{productId}
    </select>

    <select id="selectProductNameAndValueById" resultType="com.carsale.response.ProductNameAndValue">
        SELECT warehouse.location as name, inventory.quantity as value
        FROM `inventory`,warehouse
        WHERE inventory.warehouseId=warehouse.id and inventory.productId=#{productId}
    </select>

    <select id="selectYearAndSalesById" resultType="com.carsale.response.ProductYearAndSalesResponse">
        SELECT YEAR(createtime) AS year, COUNT(*) AS salesCount
        FROM `order`
        WHERE productId = #{productId}
        GROUP BY YEAR(createtime)
        ORDER BY YEAR(createtime);
    </select>


</mapper>
