<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carsale.mapper.SupplyMapper">

    <resultMap id="BaseResultMap" type="com.carsale.pojo.Supply">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="supplierId" column="supplierId" jdbcType="INTEGER"/>
            <result property="productId" column="productId" jdbcType="INTEGER"/>
            <result property="warehouseId" column="warehouseId" jdbcType="INTEGER"/>
            <result property="createtime" column="createtime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,quantity,supplierId,
        productId,warehouseId,createtime
    </sql>

    <insert id="createSupply">
        INSERT INTO supply (quantity, supplierId, productId, warehouseId, createtime)
        VALUES (#{supply.quantity}, #{supply.supplierId}, #{supply.productId}, #{supply.warehouseId}, #{supply.createtime});
    </insert>

    <delete id="deleteSupplyByProductId">
        delete
        from supply
        where supply.productId = #{productId}
    </delete>

    <delete id="deleteSupplyBySupplierId">
        delete
        from supply
        where supply.supplierId = #{supplierId}
    </delete>

    <delete id="deleteSupplyByWarehouseId">
        delete
        from supply
        where supply.warehouseId = #{warehouseId}
    </delete>

    <select id="selectSupplyPage" resultMap="BaseResultMap">
        SELECT * FROM `supply`
                          LIMIT #{page}, #{pageSize};
    </select>
</mapper>
